* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 1rem;
}

.header nav ul {
    display: flex;
    list-style: none;
}

.header nav ul li {
    margin-right: 1rem;
}

.header nav a {
    color: #fff;
    text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    padding: 0 0.5rem;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.summary-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 1rem; */
    margin-bottom: 20px;
    height: 80px; /* Adjust the height as needed */
}

.sidebar-navigation {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 1rem;
}

.sidebar-navigation h3 {
    margin-bottom: 0.5rem;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.footer p {
    margin-bottom: 0;
}

.footer ul {
    list-style: none;
    display: flex;
}

.footer li {
    margin-right: 1rem;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .main-content {
        grid-template-columns: 1fr;
    }

    .sidebar-navigation {
        display: none;
    }
}