{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drugstore Admin</title>
    <link rel="stylesheet" href="{% static 'assets/css/admin.css' %}">
</head>
<body style="background-image: url('{% static 'assets/images/MedAdmin.png' %}');">
    <header class="header">
        <div class="logo">
            <img src="{% static 'assets/images/FAD.jpg' %}" alt="Drugstore Logo">
            <h1>Drugstore</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Inventory</a></li>
                <li><a href="#">Sales</a></li>
                <li><a href="#">Expiry Management</a></li>
                <li><a href="#">Medication Re-orders</a></li>
                <li><a href="#">User Management</a></li>
                <li><a href="#">Patient Interaction Data</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
        </div>
    </header>
    <main class="main-content">
        <div class="dashboard-overview" style="display: flex;flex-direction: column;">
            <h2>Dashboard Overview</h2>
            <div class="summary-card">
                <p>Total Inventory Value:</p>
                <span>$12,500</span>
            </div>
            <div class="summary-card">
                <p>Recent Sales Figures:</p>
                <span>$5,000 (last 7 days)</span>
            </div>
            <div class="summary-card">
                <p>Upcoming Expiries:</p>
                <span>15 items</span>
            </div>

            <div style="display: flex; align-items: center; justify-content: center;">
                <h3>Analysis of the data</h3>
                <img src="{% static 'assets/images/graph.jpeg' %}" style="width: 40%; align-items: center; justify-content: center;">

            </div>
        </div>
    </main>
</body>
</html>